.main-container{
    padding: 10px 320px;
}
.blogs-parent-container{
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 25px;
}
.spent-time{
    border: 1px solid #6047EC;
    margin-top: 30px;
    padding: 20px;
    font-weight: 700;
    font-size: 24px;
    color: #6047EC;
    border-radius: 8px;
    background: rgba(96, 71, 236, 0.1);
}
.bookmarked-blog{
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
}
.bookmarked-heading{
    padding: 30px;
}