.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 30px 320px;
    max-width: 100%; 
}
.navlist{
    display: flex;
    list-style: none;
}
.navlist a{
    margin: 0 20px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #191919;
    transition: color 0.5s;
}
.navlist a:hover{
    color: #6047EC;
}
.profile-img{
    width: 60px;
    height: 60px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}