.blog-container{
    padding: 10px 320px;
}
.over-line{
    width: 100%;
    height: 1px;
    background: #888;
}
.hero-section{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 25px;
}

.cover-img{
    width: 845px; 
}
.profile{
    width: 60px;
    height: 60px;
}
.profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details-section{
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 24px;
}
.title-name{
    display: block;
    font-size: 24px;
    font-weight: 600;
}
.date{
    font-weight: 500;
}
.time-read{
    display: inline;
    margin-right: 10px;
}
.title-section{
    margin-top: 15px;
}
.title-section .title-name{
    font-size: 40px;
    font-weight: 700;
}
.title-section .mark-as-read{
    font-size: 20px;
    color: #6047EC;
    font-weight: 600;
}
.spent-time h2{
    text-align: center;
    border: 1px solid #6047EC;
    background: rgba(96, 71, 236, 0.1);
    color: #6047EC;
    border-radius: 8px;
    padding: 18px 0;
    font-size: 24px;
}
.bookmarked{
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
}
.bookmarked h2{
    padding: 30px;
}